<div class="container">
  <h1>MOVIMIENTO RECTILÍNEO UNIFORME</h1>
  <div class="content">
    <div id="modal" class="modal">
      <div class="modal-content">
        <p id="modalText"></p>
        <button id="modalButton">Confirmar</button>
      </div>
    </div>

    <div id="alertModal" class="modal">
      <div class="modal-content">
        <p id="alertModalText"></p>
        <button id="confirmButton">Continuar</button>
        <button id="cancelButton">Corregir</button>
      </div>
    </div>
    <p>
      En un paseo por el campo, ves a un motociclista surcando el camino con su
      moto. La moto se desplaza suavemente con un movimiento constante y
      uniforme. Esa moto tiene una velocidad aproximada de
      <input
        type="number"
        id="speedInput"
        name="speedInput"
        min="1"
        value="80"
      />[m/s]. ¿Cuánto recorrerá en solo
      <input type="number" id="simulationTime" value="5" />
      segundos?
    </p>
    <div class="controls">
      <!-- <label for="speedInput">Velocidad de la moto:</label> -->
      <button id="startButton" class="startButton">
        Iniciar simulación
      </button>
      <button id="endButton" class="endButton">Terminar simulación</button>
    </div>
  </div>
  <div class="main-container">
    <div class="simulation-container">
      <canvas id="canvas" width="700" height="300"></canvas>
      <div class="params">
        <!-- <label for="simulationTime">Tiempo de simulación (segundos):</label> -->
        <label for="simulationDistance">Distancia de simulación (metros):</label>
        <input
          type="range"
          id="simulationDistance"
          min="500"
          max="6325"
          value="1000"
          oninput="updateValue(this.value)"
        />
        <span id="distanceValue">1000</span>
        <!-- Cambia este valor a 1000 -->

        <script>
          function updateValue(value) {
          document.getElementById("distanceValue").textContent = value; }
        </script>
      </div>
    </div>
    <div class="graph-container">
      <div>
        <h2>Gráfica Distancias Vs. Tiempo</h2>
        <canvas id="graphCanvas" width="400" height="300"></canvas>
      </div>
      <div>
        <h2>Gráfica Velocidad Vs. Tiempo</h2>
        <canvas id="velocityGraphCanvas" width="400" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="/js/graph.js"></script>
<script src="/js/background.js"></script>
<script src="/js/distanceDisplay.js"></script>
<script src="/js/ruler.js"></script>
<script src="/js/clock.js"></script>
<script src="/js/imageMoto.js"></script>
<script src="/js/animation.js"></script>